@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body{
    margin-top:70px;
}


.left10{
    margin-left:10px;
}

.right10{
    margin-right:10px;
}

.top10{
    margin-top:10px;
}

.bottom10{
    margin-bottom:10px;
}

.left5{
    margin-left:5px;
}

.right5{
    margin-right:5px;
}

.top5{
    margin-top:5px;
}

.bottom5{
    margin-bottom:5px;
}

div.client-modal {
    margin:10px;
    width:400px;
}



