<div class="jumbotron">
    <h2>Account Manager <small>Oauth 2.0 provider with OpenId Connect</small></h2>
    <p>Use this application to register client applications to be used with Oauth 2.0</p>
    {{#if session.isAuthenticated}}
        <button type="button" class="btn btn-default" >{{#link-to "user"}}Go to user profile{{/link-to}}</button>
    {{else}}
        <button type="button" class="btn btn-default" >{{#link-to "login"}}Login{{/link-to}}</button>
    {{/if}}
</div>



