<div class="jumbotron">
    <h2>Account Manager <small>Oauth 2.0 provider with OpenId Connect</small></h2>
    <p>Use this application to register client applications to be used with Oauth 2.0</p>
    {{#if session.isAuthenticated}}
        {{#link-to "user" tagName="button" class="btn btn-default" }}Go to user profile{{/link-to}}
    {{else}}
        {{#link-to "login" tagName="button" class="btn btn-default" }}Login{{/link-to}}
    {{/if}}
</div>



