<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input value='identification' placeholder='Enter Login' value=identification class="form-control"}}
  <label for="password">Password</label>
  {{input value='password' placeholder='Enter Password' type='password' value=password class="form-control"}}

  <hr>
  <button class="btn btn-success" type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>